<div>
    <img class="main-home-image" src="/Home/HomeImage.jpg" />
    <div class="main-home-title-container">
        <h1 class="main-home-title">Welcome to GymHub!</h1>
    </div>
    <div class="main-home-description-container">
        <p class="main-home-description">Looking for the best equipment to aid you in your training? Then you've come to the right place</p>
    </div>
</div>
<div class="main-home-sales">
    <p class="main-home-sales-paragraph">Currently on sale: </p>
</div>


