.cart-number {
    color: paleturquoise;
    font-size: 14px;
    color: lightseagreen;
}

.cart-circle {
    top: 0px;
    right: 327px;
    color: green;
    font-size: 1.1em;
}

.cart-container {
    position: absolute;
    top: -6%;
    right: 11.2%;
}