body {
    background-color: skyblue;
    margin: 0px;
    height: 100%;
    z-index: -20;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.body-container {
    background-color: skyblue;
}

p, label, a, h1, input, button, select, th, tr, table, thead, tbody, td {
    font-family: Arial;
}

.nav-bar {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 60px;
    background-color: #0B8E4C;
    display: block;
    z-index: 10000;
}

.nav-bar-element {
    vertical-align: central;
    float: right;
    text-align: right;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    overflow: hidden;
}

.nav-bar-button {
    background-color: lightseagreen;
    color: paleturquoise;
    border-color: lightseagreen;
    border-style: solid;
    border-radius: 5px;
    font-size: 22px;
    text-decoration: none;
    vertical-align: central;
    display: block;
    height: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nav-bar-cart {
    padding-right: 0px;
}

.nav-bar-cart-container {
    width: 3vw;
    text-align:center;
}

.nav-bar-home {
    float: left;
    margin-left:7px;
}

.nav-bar-logout-form {
    height: 44px;
}

.nav-bar-logout-button {
    padding: 0px;
    border-width: 0px;
    height: 50px;
    width: 96px;
    cursor: pointer;
    height: 44px;
}

main {
    display: block;
}

.main-container {
    margin-top: 80px;
    flex: 1 0 auto;
}

.main-home-title {
    margin-top:20px;
    padding-top:20px;
    text-align: center;
    font-size: 45px;
    color: #0B8E8E;
}

.main-cart-title {
    text-align: center;
    font-size: 45px;
    color: #0B8E8E;
}

.main-cart-title-container {
    text-align: center;
    font-size: 45px;
    color: #0B8E8E;
}
.main-home-description {
    text-align: center;
    font-size: 30px;
    color: #0B8E8E;
}

.main-home-sales-paragraph {
    text-align: center;
    font-size: 30px;
    color: #0B8E8E;
}

.main-home-image-container{
    height: 60vh;
    width: 100vw;
}

.main-home-image {
    position: absolute;
    top: 40px;
    height: 60vh;
    width: 100vw;
    z-index: -10;
}

footer {
    text-align: center;
    position: relative;
    padding: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #0B8E4C;
    z-index: 100;
    flex-shrink: 0;
    margin-top: 10px;
}

footer p{
    position: relative;
    background: #0B8E4C;
    padding-top: 10px;
}

.footer-contacts {
    display: inline-block;
    vertical-align: top;
}

.footer-contacts-phoneNumbers-container {
    display: inline-block;
    width: 10vw;
}

.footer-contacts-container {
    text-align: left;
}

.footer-contacts-phoneNumber {
    display:inline-block;
}

.form-container {
    padding-top: 10px;
}

.login-row-container {
    margin-right: 0px;
    padding-left: 10px;
}

.input-container {
    text-align: center;
    margin-top: 25px;
}

label {
    font-size: 16px;
    display: block;
}

input {
    font-size: 16px;
    border-radius: 5px;
    height: 20px;
}

select {
    font-size: 16px;
    border-radius: 5px;
    height: 20px;
}

.button-container{
    display: block;
    margin-top: 10px;
    text-align: center;
}

button {
    font-size: 16px;
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    background-color: #0B8E4C;
}

.product-container {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:0px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: darkblue;
    background-color: white;
    width: 308px;
}
.product-content-container {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 0px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: darkblue;
    background-color: white;
    width: 300px;
}

.product-name {
    margin: 4px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: gray;
    background-color: darkgray;
    display: block;
    text-decoration: none;
    color: black;
}

.product-name:hover{
    background-color:slategray;
    border-color: black
}

.product-mainImage {
    margin: 10px;
    height: 70%;
    width: 80%;
}

.product-element-even, .product-element-odd {

    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    padding-left: 5px;
}

.product-element-even {
    border-style: solid;
    border-left: none;
    border-right: none;
    border-width: 2px;
    border-color: darkslategray;
    background-color: darkgray;
}

.product-element-odd {
    background-color: lightgray;
}

.product-button {
    float: left;
    margin: 2px;
    text-align: center;
    vertical-align: central;
    font-size: 20px;
    font-weight: 600;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: darkblue;
    background-color: darkgray;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    width: 146px;
    color: black;
}

.product-button:hover{
    background-color: #F3F3F3;
    color:black;
}

.cart-table-container {
    width:95vw;
    margin-left: 2.5vw;
    background-color: aquamarine;
    border-width: 1px;
    border-collapse:collapse;
}

.cart-thead-container {
    margin-bottom: 5px;
}

.cart-tr-row-even {
    border-top: 2px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
    text-align: center;
}

th {
    background-color: lightseagreen;
    padding-left: 20px;
    padding-right: 20px;
    height:30px;
    text-align: center;
}

.cart-th-name {
    text-align: center;
    padding-right: 20px;
}

.cart-td-mainImage {
    width: 7vw;
    z-index: -100;
    height: 7vw;
}

.cart-td-name{
    background-color: lightblue;
    text-decoration: none;
    color:black
}

.cart-td-name:hover {
    color: gray
}

.cart-td-element {
    background-color: lightblue;
    text-align: center;
}

.cart-td-nameElement {
    background-color: lightblue;
}

.cart-td-mainImageElement {
    background-color: lightblue;
    text-align: center;
    width: 8vw;
    height: 8vw;
    vertical-align: middle;
}

.cart-form-buyButton {
    width: 8vw;
    height: 7.5vh;
    margin-top: 5px;
    margin-right: 8.5vw;
}

.cart-form-buyButton-inactive {
    background-color: gray;
    border-color: darkgray;
    outline:none;
}

.cart-form-buyButton-inactive:hover {
    cursor: default;
}

.cart-form-buyButton-inactive:click {
    outline: none;
}

.cart-td-totalPriceRow {
    background-color: lightblue;
    text-align: center;
}

.cart-input-quantity, .cart-input-remove {
    width: 8vw;
    text-align: center;
    padding-left: 15px;
}

.cart-form-products {
    text-align: right;
}

.validation-span{
    display:block;
    color: orangered;
}

.product-page-mainImage{
    float:right;
    margin-right:10px;
    height:30vh;
    width:20vw;
    display:block;
}

.product-page-name {
    margin: 10px;
    margin-right: 10px;
    margin-top:100px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: gray;
    background-color: darkgray;
    display: block;
    text-decoration: none;
    color: black;
    float: right;
    font-size: 22px;
}

.product-page-description {
    margin: 10px;
    background-color: darkgray;
    display: block;
    text-decoration: none;
    float: left;
    text-align: left;
    font-size: 14px;
    display:block;
    width: 70vw;
    height: 70vh;
}

.product-commentWithChildren-container {
    margin-bottom: 20px;
}

.product-comment-container {
    color: black;
    background-color: whitesmoke;
    border-color: #fdfdfe;
    margin-bottom: 10px;
}

.product-comment-userinfo-container {
    padding-top:10px;
}

.product-comment-userinfo-hr {
    margin-top: 5px;
    margin-bottom: 15px;
    border-color: lightgray;
}

.product-comment-child-container {
    margin-left:50px;
}

.product-comment-replies-button, .product-comment-edit-button, .product-comment-reply-button, .product-comment-remove-button, .product-comment-close-button-popup, .product-comment-remove-button-popup,
.product-close-button-popup, .product-remove-button-popup{
    text-align: left;
    font-weight: bold;
    color: darkslategrey;
    background-color: whitesmoke;
    padding: 0px 10px;
    font-size: 14px;
    margin-bottom: 5px;
    border: none;
    padding-left: 0px;
}

.product-comment-remove-button, .product-comment-remove-button-popup, .product-comment-close-button-popup, .product-close-button-popup, .product-remove-button-popup {
    text-align: right;
    color: floralwhite;
    background-color: indianred;
    border-color: #ebccd1;
    padding: 6px 6px;
}

.product-comment-remove-button-popup, .product-comment-close-button-popup, .product-remove-button-popup, .product-close-button-popup {
    text-align: center;
    color: floralwhite;
    padding: 6px 6px;
    font-size: 20px;
    margin-left: 15px;
}

.product-comment-remove-button-popup, .product-remove-button-popup {
    background-color: indianred;
    border-color: #ebccd1;
}

.product-comment-close-button-popup, .product-close-button-popup {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.product-comment-reply-button {
    margin-left: 10px;
}

.product-comment-addReview-form-container {
    text-align: center;
}

.product-comment-addReview-rating {
    font-size: 30px;
}

.product-comment-edit-container, .product-comment-reply-container {
    margin-bottom: 20px;
}

.product-comment-reply-container{
    margin-left: 10px;
}

.product-comment-editReview-ratings-container{
    margin-bottom: 10px;
}

.product-comment-editReview-editButton-container{
    margin-top: 10px;
}

.product-comment-editReview-textarea{
    height: 50px;
    width: 100%;
}

.product-comment-remove-form {
    text-align: end;
    display: inline-block;
    float: right;
}

.product-outOfStock{
    color: darkred;
}

.validation-message {
    display: block;
}

.product-comment-dimPage-container, .product-remove-dimPage-container {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.6);
    z-index: 10001;
}

.product-comment-remove-popup-container, .product-remove-popup-container {
    position: fixed;
    top: 45vh;
    width: 50vw;
    left: 25vw;
    z-index: 10002;
    text-align: center;
    overflow: hidden;
}

.product-comment-likes-container{
    display:inline-block;
    margin: 5px;
    margin-right: 10px;
}

.product-comment-like-button, .product-comment-dislike-button {
    margin: 4px;
    font-size: 20px;
    color: mediumblue;
}

.product-comment-currentUser {
    background-color: antiquewhite;
}

.product-comments-ordering-container{
    margin-bottom: 20px;
}

.product-comments-ordering-paragraph {
    font-size: 16px;
}

.product-comment-remove-justification-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-comment-remove-justification-textarea {
    width: 80%;
    height: 15vh;
}

.product-page-addToCart-quantity{
    width: 5vw;
    text-align:center;
    font-size: 14px;
    height: 3vh;
}

.product-page-addToCart-quantity-label{
    display: inline;
    margin-left: 5px;
}

.product-page-addToCart-validationMessage-container, .product-page-removeProduct-validationMessage-container, .product-page-editProduct-validationMessage-container {
    margin-top: 3px;
}

.product-page-addToCart-container{
    display:block;
}

.product-edit-container{
    margin-top: 10px;
}

.fa-sign-out-alt {
    margin-right: 1px;
    padding-left: 2px;
}

.fa-sign-in-alt {
    margin-right: 4px;
}

.fa-shopping-cart{
    margin-right: 3px;
}

.shop-button{
    float:left;
}

.product-addProduct-images-container{
    background-color: white;
}

.service-image-left {
    padding-left: 0px;
}

.product-addProduct-description{
    width: 40vw;
    height: 30vh;
}

.input-link{
    width: 40vw;
}

.product-add-name, .product-add-model, category-add-name {
    width: 30vw;
}

.product-add-actionMessage-title, .product-edit-actionMessage-title {
    text-align: center;
}

#addCategoryToProduct {
    font-size: 20px;
    margin-left: 6px;
    color: #3c763d
}

#addCategoryToProduct:hover {
    cursor: pointer;
}

.removeCategoryButton {
    color: #a94442;
    font-size: 20px;
    margin-left: 6px;
}

.removeCategoryButton:hover {
    cursor: pointer;
}

.input-label-inline{
    display: inline;
}

#product-addCategory-span {
    font-size: 16px;
    font-weight: 600;
}

#addCategoryToProduct-container {
    margin-top: 15px;
}

#notificationMessage {
    position: fixed;
    top: 60px;
    z-index: 100000000;
    width: 100vw;
    height: 6vh;
}

.productPage-category-container {
    display: inline;
    margin: 6px;
    border-radius: 5px;
    border-style: solid;
    border-color: darkblue;
    background-color: #d9edf7;
    padding: 8px;
}

.productPage-categories-container{
    text-align:center;
}