<form method="post" action="/Users/Login" class="form-container">
    <div class="input-container">
        <label for="username" class="input-label">Username</label>
        <input name="username" id="username" type="text" placeholder="Type username here">
    </div>
    <div class="input-container">
        <label for="password" class="input-label">Password</label>
        <input name="password" id="password" type="password" placeholder="Type password here">
    </div>
    <div class="button-container">
        <button>Login</button>
    </div>
    <p style="text-align:center;">Don't have an account? Register<a href="/Users/Register"> here.</a></p>
</form>
