@using GymHub.Web.Models.InputModels

@model LoginUserInputModel

<form asp-controller="Users" asp-action="Login" method="post" class="form-container">
    <div class="input-container">
        <label asp-for="Username" class="input-label">Username</label>
        <input asp-for="Username" type="text" placeholder="Type username here">
    </div>
    <div class="input-container">
        <label asp-for="Password" class="input-label">Password</label>
        <input asp-for="Password" type="password" placeholder="Type password here">
    </div>
    <div class="button-container">
        <button>Login</button>
    </div>
    <p style="text-align:center;">Don't have an account? Register<a href="/Users/Register"> here.</a></p>
</form>
