@model ComplexModel<RegisterUserInputModel, RegisterUserViewModel>
@{ 
    var viewModel = Model.ViewModel;
}
<form method="post" action="/Users/Register" class="form-container">
    <div class="input-container">
        <label asp-for="InputModel.FirstName" class="input-label">First Name</label>
        <input asp-for="InputModel.FirstName" type="text" placeholder="Type first name here">
    </div>
    <div class="input-container">
        <label asp-for="InputModel.MiddleName" class="input-label">Middle Name</label>
        <input asp-for="InputModel.MiddleName" type="text" placeholder="Type middle name here">
    </div>
    <div class="input-container">
        <label asp-for="InputModel.LastName" class="input-label">Last Name</label>
        <input asp-for="InputModel.LastName" type="text" placeholder="Type last name here">
    </div>
    <div class="input-container">
        <label asp-for="InputModel.Email" class="input-label">Email</label>
        <input asp-for="InputModel.Email" type="email" placeholder="Type email here">
    </div>
    <div class="input-container">
        <label asp-for="InputModel.Username" class="input-label">Username</label>
        <input asp-for="InputModel.Username" type="text" placeholder="Type username here">
    </div>
    <div class="input-container">
        <label asp-for="InputModel.Password" class="input-label">Password</label>
        <input asp-for="InputModel.Password" type="password" placeholder="Type password here">
    </div>
    <div class="input-container">
        <label asp-for="InputModel.ConfirmPassword" class="input-label">Confirm Password</label>
        <input asp-for="InputModel.ConfirmPassword" type="password" placeholder="Type password here">
    </div>
    <div class="input-container">
        <label asp-for="InputModel.DateOfBirth" class="input-label">Date of birth</label>
        <input asp-for="InputModel.DateOfBirth" type="date">
    </div>
    <div class="input-container">
        <label asp-for="InputModel.GenderId" class="input-label">Gender</label>
        <select asp-for="InputModel.GenderId">
            @foreach (var gender in viewModel.Genders)
            {
                <option value="@gender.Id">@gender.Name</option>
            }
        </select>
    </div>
    <div class="button-container">
        <button>Register</button>
    </div>
    <p style="text-align:center;">Already have an account? Login<a href="/Users/Login"> here.</a></p>
</form>
