@model EditProductInputModel

<div class="container-fluid product-addProduct-preview">
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container" style="padding-top:10px;">
                <div class="col-md-12">
                    <div class="product col-md-3 service-image-left">

                        <center>
                            <img id="item-display" class="product-mainImage" src="@(Model.ImagesAsFileUploads ? Model?.MainImageUploadInfo?.ModifiedImage?.Path : Model?.MainImage)" alt="">
                        </center>
                    </div>

                    <div class="container service1-items col-sm-2 col-md-2 pull-left">
                        <center>
                            <a id="item-1" class="service1-item">
                                <img src="@(Model.ImagesAsFileUploads ? Model?.AdditionalImagesUploadsInfo?[0]?.ModifiedImage?.Path : Model?.AdditionalImages[0])" class="product-additionalImage" alt="">
                            </a>
                            <a id="item-2" class="service1-item">
                                <img src="@(Model.ImagesAsFileUploads ? Model?.AdditionalImagesUploadsInfo?[1]?.ModifiedImage?.Path : Model?.AdditionalImages[1])" class="product-additionalImage" alt="">
                            </a>
                            <a id="item-3" class="service1-item">
                                <img src="@(Model.ImagesAsFileUploads ? Model?.AdditionalImagesUploadsInfo?[2]?.ModifiedImage?.Path : Model?.AdditionalImages[2])" class="product-additionalImage" alt="">
                            </a>
                        </center>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="product-title">@Model?.Name: @Model?.Model</div>
                    <div class="product-desc">@Model?.ShortDescription</div>
                    <div class="product-rating">
                        <i class="fa fa-star-o gold"></i>
                        <i class="fa fa-star-o gold"></i>
                        <i class="fa fa-star-o gold"></i>
                        <i class="fa fa-star-o gold"></i>
                        <i class="fa fa-star-o gold"></i>
                        <i class="fa fa-star-o gold"></i>
                        <i class="fa fa-star-o gold"></i>
                        <i class="fa fa-star-o gold"></i>
                        <i class="fa fa-star-o gold"></i>
                        <i class="fa fa-star-o gold"></i>
                        <span> 0/10</span>
                    </div>
                    <hr>
                    <div class="container productPage-categories-container">
                        @foreach (var categoryName in Model.CategoriesNames)
                        {
                            <div class="productPage-category-container">
                                @categoryName
                            </div>
                        }
                    </div>
                    <div class="product-price">$ @Model?.Price</div>
                    <div class="product-stock">In Stock: @Model?.QuantityInStock</div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">

                    <li class="active"><a href="#service-one" data-toggle="tab">Product info</a></li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">

                        <section class="container product-info">
                            @Model?.Description
                        </section>

                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>