@model ComplexModel<AddReviewInputModel, ProductInfoViewModel>
@{
    var uniqueCommentCount = 0;
    var viewModel = Model.ViewModel;
}

@if (viewModel.ParentsChildrenComments.Count > 0)
{
    <div class="container border-dark product-comments-ordering-container">
        <span class="product-comments-ordering-paragraph">Order by: </span>
        <select asp-for="ViewModel.CommentsOrderingOptions" class="product-comments-ordering-select">
            <option value="1">Likes</option>
            <option value="2">Highest Rating</option>
            <option value="3">Lowest Rating</option>
            <option value="4">Newest</option>
            <option value="5">Oldest</option>
        </select>
    </div>
    @foreach (var kv in viewModel.ParentsChildrenComments)
    {

        var parentComment = kv.Key;
        var childrenComments = kv.Value;
        if (parentComment.ParentCommentId == null)
        {
            var userProductRating = viewModel.UsersProductRatings[parentComment.User];
            var repliesCount = childrenComments.Count;
            <div class="product-commentWithChildren-container">
                @await Html.PartialAsync("_ProductCommentPartial.cshtml", new ProductCommentPartialViewModel(parentComment, viewModel.ReplyCommentInputModel, userProductRating, viewModel.CurrentUserId, uniqueCommentCount++, repliesCount))
                <div @(childrenComments.Any(childComment => childComment.Id == viewModel.ToReplyComment) == true ? "" : "hidden") class="product-comment-child-container">
                    @foreach (var childComment in childrenComments)
                    {
                        ProductRatingViewModel userProductRatingChild = null;

                        @if (viewModel.UsersProductRatings.ContainsKey(childComment.User))
                        {
                            userProductRatingChild = viewModel.UsersProductRatings[childComment.User];
                        }

                        @await Html.PartialAsync("_ProductCommentPartial.cshtml", new ProductCommentPartialViewModel(childComment, viewModel.ReplyCommentInputModel, userProductRatingChild, viewModel.CurrentUserId, uniqueCommentCount++))
                        uniqueCommentCount++;
                    }
                </div>
            </div>
        }
    }
}
else
{
    <h3>There are no comments for this product</h3>
}