@model AddProductInputModel

@section AdditionalLinks{

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/ProductPageForOnlineShop.css" rel="stylesheet" />
    <link href="/css/ProductPageCommentBox.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
}
<form asp-controller="Products" asp-action="@(Model?.IsAdding != false ? "Add" : "Edit")" method="post" class="product-addProduct-form">
    @if (Model?.IsAdding != false)
    {
        <h4 class="product-add-actionMessage-title">Create a new Product.</h4>
    }
    else
    {
        <h4 class="product-edit-actionMessage-title">Edit Product.</h4>
    }
    <hr />
    <div asp-validation-summary="All" class="alert-danger"></div>
    <div class="input-container">
        <label asp-for="MainImage" class="input-label">Main image</label>
        <input asp-for="MainImage" type="url" placeholder="Type url here" class="input-link">
        <span asp-validation-for="MainImage" class="validation-span"></span>
    </div>
    @for (int i = 0; i < 3; i++)
    {
        @if (Model?.AdditionalImages != null)
        {
            @if (Model.AdditionalImages.Count <= i) Model.AdditionalImages.Add(null);
            <div class="input-container">
                <label asp-for="AdditionalImages[i]" class="input-label">Additional image @(i+1)</label>
                <input asp-for="AdditionalImages[i]" class="product-addProduct-additionalImage input-link" type="url" placeholder="Type url here">
                <span asp-validation-for="AdditionalImages[i]" class="validation-span"></span>
            </div>
        }
        else
        {
            <div class="input-container">
                <label asp-for="AdditionalImages[i]" class="input-label">Additional image @(i+1)</label>
                <input asp-for="AdditionalImages[i]" class="product-addProduct-additionalImage input-link" type="url" placeholder="Type url here">
                <span asp-validation-for="AdditionalImages[i]" class="validation-span"></span>
            </div>
        }
    }
    @*<div class="input-container">
            <label asp-for="AdditionalImages[1]" class="input-label">Additional image 2</label>
            <input asp-for="AdditionalImages[1]" class="product-addProduct-additionalImage input-link" type="url" placeholder="Type url here">
            <span asp-validation-for="AdditionalImages[1]" class="validation-span"></span>
        </div>
        <div class="input-container">
            <label asp-for="AdditionalImages[2]" class="input-label">Additional image 3</label>
            <input asp-for="AdditionalImages[2]" class="product-addProduct-additionalImage input-link" type="url" placeholder="Type url here">
            <span asp-validation-for="AdditionalImages[2]" class="validation-span"></span>
        </div>*@
    <div class="input-container">
        <label asp-for="Name" class="input-label"></label>
        <input type="text" asp-for="Name" class="input-label product-add-name" placeholder="Type name here" />
        <span asp-validation-for="Name" class="validation-span"></span>
    </div>
    <div class="input-container">
        <label asp-for="Model" class="input-label"></label>
        <input type="text" asp-for="Model" class="input-label product-add-model" placeholder="Type model here" />
        <span asp-validation-for="Model" class="validation-span"></span>
    </div>
    <div class="input-container">
        <label asp-for="Price" class="input-label">Price($) </label>
        <input type="number" asp-for="Price" class="input-label" placeholder="Type price here" />
        <span asp-validation-for="Price" class="validation-span"></span>
    </div>
    <div class="input-container">
        <label asp-for="Description" class="input-label"></label>
        <textarea asp-for="Description" class="product-addProduct-description" placeholder="Type description here"></textarea>
        <span asp-validation-for="Description" class="validation-span"></span>
    </div>
    <div class="input-container">
        <label asp-for="Warranty" class="input-label"></label>
        <input asp-for="Warranty" type="number" placeholder="Type warranty here in months">
        <span asp-validation-for="Warranty" class="validation-span"></span>
    </div>
    <div class="input-container">
        <label asp-for="QuantityInStock" class="input-label"></label>
        <input asp-for="QuantityInStock" type="number" placeholder="Type quantity in stock here">
        <span asp-validation-for="QuantityInStock" class="validation-span"></span>
    </div>
    <div class="button-container">
        @if (Model?.IsAdding != false)
        {
            <button type="submit">Add product</button>
        }
        else
        {
            <input hidden type="text" asp-for="Id" />
            <button type="submit">Edit product</button>
        }
    </div>
    <div class="button-container">
        <button class="product-addProduct-previewPage-button" type="button">Preview Page</button>
    </div>
</form>
@if (Model != null)
{
    <partial name="_AddProductPreviewPartial.cshtml" />
}
@section Scripts{
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js" asp-append-version="true"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/AddProductPage/PreviewPage.js" asp-append-version="true"></script>
    <script src="~/js/Shared/ChangeProductImage.js" asp-append-version="true"></script>

    <partial name="_ValidationScriptsPartial.cshtml">
}
