<div class="nav-bar-element">
        <a class="nav-bar-button" asp-controller="Products" asp-action="Add">Add Product</a>
    </div>
    <div class="nav-bar-element">
        <a class="nav-bar-button" asp-controller="Categories" asp-action="All">Categories</a>
    </div>
    <div class="nav-bar-element">
        <a class="nav-bar-button" asp-controller="Sales" asp-action="Search">Search Sales</a>
</div>